/* Styles généraux pour le corps de la page */
body {
    display: flex; /* Utilise le modèle de boîte flex */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    overflow: hidden; /* Masque tout débordement */
    width: 100%; /* Largeur complète */
    height: 100vh; /* Hauteur à définir (devrait être 100vh pour l'affichage complet) */
    box-sizing: border-box;
    padding: 1%;
}

/* Styles pour la carte */
.card {
    position: relative; /* Positionnement relatif pour les éléments enfants */
    width: 500px; /* Largeur de la carte */
    height: 400px; /* Hauteur de la carte */
    border-radius: 14px; /* Coins arrondis */
    z-index: 1111; /* Assure que la carte est au-dessus des autres éléments */
    overflow: hidden; /* Masque les débordements */
    display: flex; /* Utilise le modèle de boîte flex pour les éléments enfants */
    flex-direction: column; /* Colonne pour les éléments enfants */
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: center; /* Centre les éléments verticalement */
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; /* Ombre portée */
}

/* Styles pour l'arrière-plan de la carte */
.bg {
    width: 490px; /* Largeur légèrement inférieure à celle de la carte */
    height: 340px; /* Hauteur de l'arrière-plan */
    z-index: 2; /* Doit être au-dessus de l'élément blob */
    background: rgba(255, 255, 255, .95); /* Couleur de fond blanche avec transparence */
    backdrop-filter: blur(24px); /* Flou d'arrière-plan */
    border-radius: 10px; /* Coins arrondis */
    overflow: hidden; /* Masque les débordements */
    outline: 2px solid white; /* Bordure blanche */
    display: flex; /* Utilise le modèle de boîte flex pour les éléments enfants */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    flex-direction: column; /* Colonne pour les éléments enfants */
    box-sizing: border-box;
}

/* Styles pour l'élément blob */
.blob {
    position: absolute; /* Positionnement absolu pour le placer dans le coin de la carte */
    z-index: 1; /* Doit être en dessous de l'arrière-plan */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    width: 150px; /* Largeur de l'élément blob */
    height: 150px; /* Hauteur de l'élément blob */
    border-radius: 50%; /* Forme circulaire */
    background-color: #fc0202; /* Couleur de fond rouge */
    opacity: 1; /* Opacité complète */
    filter: blur(12px); /* Flou de l'élément */
    animation: blob-bounce 5s infinite ease; /* Animation de rebond */
}

/* Animation pour l'élément blob */
@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0); /* Position initiale */
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0); /* Mouvement vers la droite */
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0); /* Mouvement vers le bas à droite */
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0); /* Mouvement vers le bas */
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0); /* Retour à la position initiale */
    }
}

/* Styles pour le titre */
.title {
    font-size: 28px; /* Taille de la police */
    font-weight: 600; /* Épaisseur de la police */
    letter-spacing: -1px; /* Espacement des lettres */
    position: relative; /* Positionnement relatif pour les éléments pseudo */
    color: #00bfff; /* Couleur du texte */
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    padding: 4%;
    top: -20%;
}

/* Styles pour les éléments pseudo du titre */
.title::before {
    width: 20px; /* Largeur de l'élément avant */
    height: 20px; /* Hauteur de l'élément avant */
}

.title::after {
    width: 20px; /* Largeur de l'élément après */
    height: 20px; /* Hauteur de l'élément après */
    animation: pulse 1s linear infinite; /* Animation de pulsation */
}

/* Styles pour les éléments avant et après */
.title::before,
.title::after {
    position: absolute; /* Positionnement absolu pour les éléments pseudo */
    content: ""; /* Contenu vide */
    height: 18px; /* Hauteur de l'élément */
    width: 18px; /* Largeur de l'élément */
    border-radius: 50%; /* Forme circulaire */
    left: 0px; /* Positionnement à gauche */
    background-color: #00bfff; /* Couleur de fond */
    margin-left: 3%;/*Marge Exterieur*/
}

/* Animation de pulsation */
@keyframes pulse {
    from {
        transform: scale(0.9); /* Échelle initiale */
        opacity: 1; /* Opacité initiale */
    }

    to {
        transform: scale(1.8); /* Échelle finale */
        opacity: 0; /* Opacité finale */
    }
}

/* Styles pour le paragraphe */
p {
    font-size: 20px; /* Taille de la police */
    padding: 1%; /* Marge intérieure */
    font-family: Arial, Helvetica, sans-serif; /* Polices utilisées */
    text-align: center; /* Alignement du texte */
    font-weight: bold; /* Épaisseur de la police */
    color: #01051b; /* Couleur du texte */
    width: 100%;
    box-sizing: border-box;
}

/* Styles pour la section de succès */
.sucess {
    height: 50%; /* Hauteur de la section */
    padding: 3%; /* Marge intérieure */
    width: 100%; /* Largeur complète */
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur/hauteur */
    display: flex; /* Utilise le modèle de boîte flex */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    flex-direction: column; /* Colonne pour les éléments enfants */
    text-align: center; /* Alignement du texte */
}

/* Cacher la case à cocher par défaut */
.container input {
    position: absolute; /* Positionnement absolu */
    opacity: 0; /* Rendre invisible */
    cursor: pointer; /* Curseur de main */
    height: 0; /* Hauteur nulle */
    width: 0; /* Largeur nulle */
}

/* Styles pour le conteneur de la case à cocher */
.container {
    display: block; /* Affichage en bloc */
    position: relative; /* Positionnement relatif */
    cursor: pointer; /* Curseur de main */
    font-size: 20px; /* Taille de la police */
    user-select: none; /* Désactive la sélection de texte */
}

/* Styles pour la case à cocher personnalisée */
.checkmark {
    position: relative; /* Positionnement relatif pour le checkmark */
    top: 0; /* Positionnement supérieur */
    left: 0; /* Positionnement gauche */
    height: 2.3em; /* Hauteur de la case */
    width: 2.3em; /* Largeur de la case */
    background-color: #ccc; /* Couleur de fond */
    border-radius: 50%; /* Forme circulaire */
    transition: .4s; /* Transition pour les changements */
}

/* Effet de survol pour la case à cocher */
.checkmark:hover {
    box-shadow: inset 17px 17px 16px #b3b3b3, /* Ombre intérieure */
        inset -17px -17px 16px #ffffff; /* Ombre intérieure blanche */
}

/* Lorsque la case à cocher est cochée, ajoute un fond bleu */
.container input:checked~.checkmark {
    box-shadow: none; /* Aucune ombre */
    background-color: limegreen; /* Couleur de fond verte */
    transform: rotateX(360deg); /* Rotation */
}

/* Effet de survol lorsque la case à cocher est cochée */
.container input:checked~.checkmark:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); /* Ombre au survol */
}

/* Crée le symbole de la coche (caché lorsqu'il n'est pas coché) */
.checkmark:after {
    content: ""; /* Contenu vide */
    position: absolute; /* Positionnement absolu */
    display: none; /* Ne pas afficher par défaut */
}

/* Affiche le symbole de la coche lorsqu'il est coché */
.container input:checked~.checkmark:after {
    display: block; /* Affiche l'élément */
}

/* Style du symbole de la coche */
.container .checkmark:after {
    left: 0.96em; /* Positionnement à gauche */
    top: 0.7em; /* Positionnement supérieur */
    width: 0.25em; /* Largeur du symbole */
    height: 0.5em; /* Hauteur du symbole */
    border: solid white; /* Couleur de la coche */
    border-width: 0 0.15em 0.15em 0; /* Largeur des côtés de la coche */
    box-shadow: 0.1em 0.1em 0em 0 rgba(0, 0, 0, 0.3); /* Ombre du symbole */
    transform: rotate(45deg); /* Rotation de la coche */
}
